.venv
venv/
.idea/
api/api.egg-info/
**/__pycache__/
*.egg

# Deepfashion Data
deepfashion-raw/
api/static/product-images/
products.db
api/match/embedding_to_product.pickle
api/match/embeddings.ann
embeddings/

# Logs
npm-debug.log

# Model weights
*.pkl
